@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #ddd;
}

header {
  display: inline;
}

/* Navbar */

nav {
  display: flex;
  align-items: center;
  background-color: #f4f3f3;
  padding: 0.6em 9.3em;
  gap: 0.9em;
}

.brands {
  cursor: pointer;
}

.nav-left {
  flex: 1;
}

.nav-left > ul {
  display: flex;
  list-style-type: none;
  margin-left: 1.8em;
  gap: 0.9em;
}

.nav-left ul li > a {
  text-decoration: none;
  color: black;
}

.nav-left ul li > a:hover {
  font-weight: bold;
}

.logo {
  width: 3.1em;
}

.btn {
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.6em;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.9em;
}

.btn:hover {
  opacity: 0.6;
}

/* Navbar End  */

.flex-container {
  display: flex;
  padding: 0.6em 9.3em;
}

/*hero section */
.flex-rows {
  display: flex;
  background-color: #fff;
  border-radius: 0.5em;
  margin: 50px auto;
  padding: 2.1em;
}

.hero-section {
  flex: 2;
  flex-direction: column;
  padding: 50px 70px 0 0;
  text-align: justify;
  font-size: 0.9em;
  font-weight: 500;
}

.hero-section > h1 {
  padding-bottom: 0.9em;
}

.infos {
  display: flex;
  align-items: center;
  margin: 30px auto;
  gap: 1em;
}

.infos > .cv {
  text-decoration: none;
  color: black;
}

.social-media {
  display: flex;
  margin-top: 50px;
  gap: 0.8em;
}

.social-media > a {
  color: black;
}

/* hero section end */

.card-section {
  flex: 1;
}

.card {
  text-align: center;
  padding-bottom: 0.9em;
  background-color: white;
  border-radius: 0.3em;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.card > p {
  font-weight: 500;
  font-size: 0.8em;
}

.card > img {
  width: 100%;
  height: 20em;
  object-fit: cover;
}
